<footer class="pie_pagina py-4 text-center text-lg-start footer">
  <div class="container">
    <div class="row justify-content-center" >
      <!--Información empresa-->
      <div class="col-xs-12 col-sm-3" >
        <h4>Conócenos</h4>
        <p >Somos una empresa destinada a buscar el festival que mejor se adapte a ti.</p>
        <p>Te mereces un festival.</p>
      </div>
      <!--Información empresa-->
      <!--Información contacto-->
      <div class="col-xs-12 col-sm-3 ">

        <h4 class="centrado" style="font-size: x-medium ;">Contacto</h4>
        <p>
          695284756
          <br>
          698521474
        </p>
      </div>
      <!--Información contacto-->
      <!--Redes sociales-->
      <div class="col-xs-12 col-sm-3">
        <h4 class="centrado">Síguenos</h4>
        <p>
          <!-- Facebook -->
          <img  class="imgFooter iconos-size" src= "https://cdn-icons-png.flaticon.com/512/44/44646.png">
          Facebook <br>
          <!-- Instagram -->
          <img  class="imgFooter iconos-size" src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
          Instagram <br>
          <!-- Twitter -->
          <img  class="imgFooter iconos-size" src = "https://cdn-icons-png.flaticon.com/512/60/60580.png">
          Twitter
      </p>
      </div>
      <!--Redes sociales-->
      <!--Aviso legal-->
      <div class="col-xs-12 col-sm-3">
        <h4 class="centrado">Aviso legal</h4>
        <p>xxxxxxxxxxxx <br> xxxxxxxxxxxx</p>
      </div>
      <!--Aviso legal-->
    </div>
  </div>
</footer>
