<body>
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <h1 class="d-flex justify-content-center">Registrarse</h1>
      <form [formGroup]="signupBussinesForm" novalidate>
        <div class="mb-3 ">
          <input type="text" class="form-control" formControlName = "inputBussinesName" id="inputBussinesName" placeholder="Nombre empresa*" required>
          <div *ngIf="signupBussinesForm.controls['inputBussinesName'].invalid && (signupBussinesForm.controls['inputBussinesName'].dirty || signupBussinesForm.controls['inputBussinesName'].touched)" class="alert alert-danger" >
            <div *ngIf="signupBussinesForm.controls['inputBussinesName'].errors">
              El nombre de la empresa es obligatorio.<br>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" formControlName = "inputEmail" id="inputEmail" placeholder="Correo*" required>
          <div *ngIf="signupBussinesForm.controls['inputEmail'].invalid && (signupBussinesForm.controls['inputEmail'].dirty || signupBussinesForm.controls['inputEmail'].touched)" class="alert alert-danger" >
            <div *ngIf="signupBussinesForm.controls['inputEmail'].errors">
              El email es obligatorio.<br>
              Por favor, cumpla con el formato usuario@example.com
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" formControlName = "inputPassword" id="inputPassword" placeholder="Contraseña*" required>
          <div *ngIf="signupBussinesForm.controls['inputPassword'].invalid && (signupBussinesForm.controls['inputPassword'].dirty || signupBussinesForm.controls['inputPassword'].touched)" class="alert alert-danger" >
            <div *ngIf="signupBussinesForm.controls['inputPassword'].errors">
              La contraseña es obligatoria.<br>
              La contraseña debe tener una mayúscula, <br>
              una minúscula y ser de extension minima 8 caracteres <br>
              y máxima 15 caracteres.
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center flex-direction: row align-items-center">
        <button type="button" [routerLink]="['/mainPage']" id="Registrarse" class="btn btn-primary d-flex justify-content-center " [disabled]="signupBussinesForm.invalid">Registrarse</button>
      </div>
    </div>
  </div>
</body>
