<footer class="pie_pagina py-4 text-center text-lg-start">
  <div class="container">
    <div class="row justify-content-center">
      <!--Información empresa-->
      <div class="col w-25">
        <h5>Conócenos</h5>
        <p>Somos una empresa destinada a <br> buscar el festival que mejor se adapte a ti. <br> Te mereces un festivals.</p>
      </div>
      <!--Información empresa-->
      <!--Información contacto-->
      <div class="col w-25">

        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li>695284756</li>
          <li>698521474</li>
        </ul>
      </div>
      <!--Información contacto-->
      <!--Redes sociales-->
      <div class="col w-25">
        <h5>Síguenos</h5>
        <p>
          <!-- Facebook -->
          <img class="imgFooter" src= "https://cdn-icons-png.flaticon.com/512/44/44646.png">
          Facebook <br>
          <!-- Instagram -->
          <img class="imgFooter" src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
          Instagram <br>
          <!-- Twitter -->
          <img class="imgFooter" src = "https://cdn-icons-png.flaticon.com/512/60/60580.png">
          Twitter
      </p>
      </div>
      <!--Redes sociales-->
      <!--Aviso legal-->
      <div class="col w-25">
        <h5><p>Aviso legal</h5>
        <p>xxxxxxxxxxxx <br> xxxxxxxxxxxx</p>
      </div>
      <!--Aviso legal-->
    </div>
  </div>
</footer>
