<app-head></app-head>

<div class="centrar">
    <div id="contenido">
        <div class="centrar">
            <div class="header">
                       
                <select class="barra1" required>
                    <option value="1" selected disabled>Tipo</option>
                    <optgroup>
                        <option value="Música">Música</option>
                        <option value="Manga">Manga</option>
                        <option value="Timple">Timple</option>
                        <option value="Gastronomia">Gastronomia</option>
                    </optgroup>
                </select>
        
                <select class="barra2" required>
                    <option value="1" selected disabled>Ubicación</option>
                    <optgroup label="Pais" placeholder="Ubicación">
                        <option value="Francia">Francia</option>
                        <option value="España">España</option>
                        <option value="ReinoUnido">Reino Unido</option>
                    </optgroup>
    
                    <optgroup label="Ciudad">
                        <option value="LyonFrancia">Lyon, Francia</option>
                        <option value="MadridEspaña">Madrid, España</option>
                        <option value="YorkReinoUnido">York, Reino Unido</option>
                    </optgroup>
                </select>
                <input class="barra3" type="date" name="Fecha">
                <nav class="barra4">
                    <a href="Festivales filtrados.html"><img class="image" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/buscador.png?alt=media&token=35a55ad6-9609-444e-96f8-fc648c8a6536" /></a>
                </nav>
            </div>
        </div>
        <div class="grid-container"> 
            <div class="slider">
                <ul>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/festival1.jpg?alt=media&token=ad91678b-1b7f-4228-9e9c-b3b75bd5f13c"/></li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/festival2.jpg?alt=media&token=d27adea1-52d0-4c4d-8fc5-323ebba4e7a7"/></li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/festival3.jpg?alt=media&token=7d867f5b-82a1-45b7-8481-753f195f20ad"/></li>
                </ul>
            </div>
            <!-- <div class="grid-item1"></div> -->
            <div class="grid-container-festivales-cercanos">
                <a href="Festival.html">
                    <img class="grid-item2" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/despegable_horizontal1.jpg?alt=media&token=bd63b843-90b0-426a-bab2-3453b87e7e65"/>
                </a>
                <a href="Festival.html">
                    <img class="grid-item3" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/despegable_horizontal2.jpg?alt=media&token=8cb70a52-28a4-4e7c-ab53-b5ed527f5164"/>
                </a>
                <a href="Festival.html">
                    <img class="grid-item4" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/despegable_horizontal3.jpg?alt=media&token=79b4374d-ee4c-4062-8c06-19242961b472"/>
                </a>
                <a href="Festival.html">
                    <img class="grid-item5" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/despegable_horizontal4.jpg?alt=media&token=18d4004a-ad67-41b3-9c73-95786ea3af59"/>
                </a>
                <a href="Festival.html">
                    <img class="grid-item6" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/despegable_horizontal5.jpg?alt=media&token=385593dd-a28a-4cb6-8162-1346f9f1f87f"/>
                </a>
                <a href="Festival.html">
                    <img class="grid-item7" src="https://firebasestorage.googleapis.com/v0/b/festivals-61d7b.appspot.com/o/despegable_horizontal6.jpg?alt=media&token=1ddffbea-9e97-4591-99c1-2b316b438a75"/>
                </a>
            </div>
        </div>  
    </div> 
</div>