<div class="card">
  <div class="card-body">
    <h1 class=" d-flex justify-content-center">FORMULARIO DE INSCRIPCIÓN DE UN PUESTO DE VENTA
  <div *ngIf="loading" class="spinner-border float-end" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</h1>
  <form [formGroup]="ventaForm" (ngSubmit)="guardarVenta()" class="row g-3" >
      <div class="col-12">
        <label for="inputContestName" class="form-label">Nombre del concurso:</label>
        <select class="form-select" formControlName="inputContestName" required>
          <option value="1" selected disabled></option>
          <option value="2">xxxxxx</option>
          <option value="3">xxxxxx</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputName" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="inputName" formControlName="inputName" required>
      </div>
      <div class="col-md-6">
        <label for="inputLastName" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="inputLastName" formControlName="inputLastName" required>
      </div>
      <div class="col-md-4">
        <label for="inputDNI" class="form-label">DNI:</label>
        <input type="text" class="form-control" id="inputDNI" formControlName="inputDNI" required>
      </div>
      <div class="col-md-4">
        <label for="inputContactNumber" class="form-label">Nº Contacto: </label>
        <input type="text" class="form-control" id="inputContactNumber" formControlName="inputContactNumber" required>
      </div>
      <div class="col-md-4">
        <label for="inputEmail" class="form-label">Correo:</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="inputEmail" required>
      </div>

      <hr>

      <h1 class="d-flex justify-content-center">Tu negocio</h1>

    <div class="col-12">
        <label for="inputBussinesName" class="form-label">Nombre del negocio: </label>
        <input type="text" class="form-control" id="inputBussinesName" formControlName="inputBussinesName" required>
      </div>
      <div class="mb-3">
        <label for="inputDescription" class="form-label">Descripcion de la tarea a realizar:</label>
        <textarea class="form-control" id="inputDescription" rows="3" formControlName="inputDescription" required></textarea>
      </div>

      <div class="d-flex justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <button [disabled]="ventaForm.invalid" type="submit" class="btn btn-primary">Enviar</button>
          </div>

          <div class="col-md-6 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" routerLink="/mainPage">Cancelar</button>
          </div>
    </div>
  </form>
  </div>
</div>
