@media screen and (max-width: 576px) {
  body{
      background-image: #88c0cb;
      padding-left: 10%;
      padding-right: 10%;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  body{
      padding-left: 10%;
      padding-right: 10%;
  }
}

.margen-imagen{
  margin: 3%;
}
