
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Iniciar sesión</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="d-flex justify-content-center flex-direction: column" >
           
                <img class="img-fluid" src="assets/img/festival4.jpg" alt="login">
                <div class="">
                    <h1 class="">¡Ingrese a su cuenta!</h1>
                    <form [formGroup]="loginForm" novalidate>
                        <div class="mb-3">
                        
                            <input type="text" class="form-control" formControlName = "inputEmail" id="inputEmail" placeholder="Correo*">
                            <div *ngIf="loginForm.controls['inputEmail'].invalid && (loginForm.controls['inputEmail'].dirty || loginForm.controls['inputEmail'].touched)" class="alert alert-danger" >
                                <div *ngIf="loginForm.controls['inputEmail'].errors">
                                    El email es obligatorio.<br>
                                    Por favor, cumpla con el formato usuario@example.com
                                </div>
                            </div>

                          </div>
                          <div class="mb-3">
                            <input type="password" class="form-control" id="inputPassword"  formControlName = "inputPassword" placeholder="Contraseña*">
                            <div *ngIf="loginForm.controls['inputPassword'].invalid && (loginForm.controls['inputPassword'].dirty || loginForm.controls['inputPassword'].touched)" class="alert alert-danger" >
                                <div *ngIf="loginForm.controls['inputPassword'].errors">
                                    La contraseña es obligatoria.<br>
                                    La contraseña debe tener una mayúscula, <br>
                                    una minúscula y ser de extension minima 8 caracteres <br>
                                    y máxima 15 caracteres.
                                </div>
                            </div>
                          
                        
                        </div>
                          
                    </form>
                    
                    <div class="d-flex justify-content-center flex-direction: row  mx-auto">
                        <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
                        <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
                    </div>
                      
                      
                </div>
  
        </div>
    </body>
</html>
