<body>
  <!-- solo movil -->
  <div class="d-block d-sm-none contenedor">
      <div>
        <h1 class="d-flex justify-content-center ">¡Ingrese a su cuenta!</h1>
        <form  [formGroup]="loginForm" novalidate>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName = "inputEmail" id="inputEmail" placeholder="Correo*">
            <div *ngIf="loginForm.controls['inputEmail'].invalid && (loginForm.controls['inputEmail'].dirty || loginForm.controls['inputEmail'].touched)" class="alert alert-danger" >
              <div *ngIf="loginForm.controls['inputEmail'].errors">
                El email es obligatorio.<br>
                Por favor, cumpla con el formato usuario@example.com
              </div>
            </div>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="inputPassword"  formControlName = "inputPassword" placeholder="Contraseña*">
              <div *ngIf="loginForm.controls['inputPassword'].invalid && (loginForm.controls['inputPassword'].dirty || loginForm.controls['inputPassword'].touched)" class="alert alert-danger" >
                <div *ngIf="loginForm.controls['inputPassword'].errors">
                  La contraseña es obligatoria.<br>
                  La contraseña debe tener una mayúscula, <br>
                  una minúscula y ser de extension minima 8 caracteres <br>
                  y máxima 15 caracteres.
                </div>
              </div>
          </div>
        </form>
        <div class="d-flex justify-content-center flex-direction: row  mx-auto">
          <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
          <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
        </div>
      </div>
  </div>
  <!-- solo tablet -->
  <div class="d-none d-sm-block d-lg-none contenedor" >
      <div class="d-flex justify-content-center flex-column ">
        <h1 class="d-flex justify-content-center ">¡Ingrese a su cuenta!</h1>
        <div class="row">
          <div class="col">
          </div>
          <div class="col-6">
            <form  [formGroup]="loginForm" novalidate>
              <div class="mb-3">
                <input type="text" class="form-control" formControlName = "inputEmail" id="inputEmail" placeholder="Correo*">
                <div *ngIf="loginForm.controls['inputEmail'].invalid && (loginForm.controls['inputEmail'].dirty || loginForm.controls['inputEmail'].touched)" class="alert alert-danger" >
                  <div *ngIf="loginForm.controls['inputEmail'].errors">
                    El email es obligatorio.<br>
                    Por favor, cumpla con el formato usuario@example.com
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="inputPassword"  formControlName = "inputPassword" placeholder="Contraseña*">
                <div *ngIf="loginForm.controls['inputPassword'].invalid && (loginForm.controls['inputPassword'].dirty || loginForm.controls['inputPassword'].touched)" class="alert alert-danger" >
                  <div *ngIf="loginForm.controls['inputPassword'].errors">
                    La contraseña es obligatoria.<br>
                    La contraseña debe tener una mayúscula, <br>
                    una minúscula y ser de extension minima 8 caracteres <br>
                    y máxima 15 caracteres.
                  </div>
                </div>
              </div>
            </form>
            <div class="d-flex justify-content-center flex-direction: row  mx-auto">
                <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
                <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
  </div>
  <!-- solo desktop -->
  <div class="d-none d-lg-block contenedor" >
    <div class="d-flex justify-content-center flex-row align-items-center" >
      <img class="img-fluid rounded margen-imagen"
      src="assets/img/festival4.jpg"
      alt="login">
      <div>
        <h1 class="d-flex justify-content-center ">¡Ingrese a su cuenta!</h1>
        <form  [formGroup]="loginForm" novalidate>
            <!--Email-->
            <div class="mb-3">
              <input type="text" class="form-control" formControlName = "inputEmail" id="inputEmail" placeholder="Correo*">
              <div *ngIf="loginForm.controls['inputEmail'].invalid && (loginForm.controls['inputEmail'].dirty || loginForm.controls['inputEmail'].touched)" class="alert alert-danger" >
                <div *ngIf="loginForm.controls['inputEmail'].errors">
                  El email es obligatorio.<br>
                  Por favor, cumpla con el formato usuario@example.com
                </div>
              </div>
            </div>
            <!--Email-->
            <!--Contraseña-->
            <div class="mb-3">
              <input type="password" class="form-control" id="inputPassword"  formControlName = "inputPassword" placeholder="Contraseña*">
              <div *ngIf="loginForm.controls['inputPassword'].invalid && (loginForm.controls['inputPassword'].dirty || loginForm.controls['inputPassword'].touched)" class="alert alert-danger" >
                <div *ngIf="loginForm.controls['inputPassword'].errors">
                  La contraseña es obligatoria.<br>
                  La contraseña debe tener una mayúscula, <br>
                  una minúscula y ser de extension minima 8 caracteres <br>
                  y máxima 15 caracteres.
                </div>
              </div>
            </div>
            <!--Contraseña-->
        </form>
        <div class="d-flex justify-content-center flex-direction: row  mx-auto">
            <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
            <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
