<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <LINK REL=StyleSheet HREF="login.component.css" TYPE="text/css" MEDIA=screen>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script>
            var correo, contraseña;
            function initiate(){
                correo = document.getElementById("correo");
                contraseña = document.getElementById("contraseña");
                correo.addEventListener("input", validation_correo);
                contraseña.addEventListener("input", validation_contraseña);
                return false;
            }
            function validation_correo(e){
                if (correo.validity.valueMissing) {
                    correo.style.background = '#FF0000';
                    correo.setCustomValidity("El correo es obligatorio"); 
                }else if(correo.validity.patternMismatch) {
                    correo.style.background = '#FF0000';
                    correo.setCustomValidity("Se esperaba una dirección de correo electrónico");
                }else {
                    correo.setCustomValidity('');
                    correo.style.background = '#FFFFFF';
                }
            }
            function validation_contraseña(e){
                if (contraseña.validity.valueMissing) {
                    contraseña.style.background = '#FF0000';
                    contraseña.setCustomValidity("La contraseña es obligatorio"); 
                }else if(contraseña.validity.tooShort){
                    contraseña.style.background = '#FF0000';
                    contraseña.setCustomValidity("La contraseña debe tener más de 8 dígitos"); 
                }else if(contraseña.validity.tooLong){
                    contraseña.style.background = '#FF0000';
                    contraseña.setCustomValidity("La contraseña debe tener menos de 15 dígitos"); 
                }else if(contraseña.validity.patternMismatch) {
                    contraseña.style.background = '#FF0000';
                    contraseña.setCustomValidity("Se esperaba una contraseña con mínimo una minúscula, una masyúscula, un dígito numérico y sin espacios");
                }else {
                    contraseña.setCustomValidity('');
                    contraseña.style.background = '#FFFFFF';
                }
            }
            addEventListener("load", initiate);
        </script>

    </head>

    <body>
        <!-- solo movil -->
        <div class="d-block d-sm-none contenedor">
            <div>
                <h1 class="d-flex justify-content-center ">¡Ingrese a su cuenta!</h1>
                <form>
                    <div class="mb-3">
                    
                        <input type="text" class="form-control" id="information" placeholder="Correo*">
                      </div>
                      <div class="mb-3">
                        <input type="password" class="form-control" id="contraseña" placeholder="Contraseña*">
                      </div>
                      <div class="d-flex justify-content-center flex-direction: row  mx-auto">
                        <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" onclick='initiate();'>Iniciar sesión</button>
                        <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
                    </div>
                </form>
                
                  
                  
            </div>
        </div>

        <!-- solo tablet -->
        <div class="d-none d-sm-block d-lg-none contenedor" >
            <div class="d-flex justify-content-center flex-column ">
                <h1 class="d-flex justify-content-center ">¡Ingrese a su cuenta!</h1>
                <div class="row">
                    <div class="col">
                    
                    </div>
                    <div class="col-6">
                        <form style="width: 100%;">
                            <div class="mb-3">
                            
                                <input type="text" class="form-control" id="information" placeholder="Correo*">
                              </div>
                              <div class="mb-3">
                                <input type="password" class="form-control" id="contraseña" placeholder="Contraseña*">
                              </div>
                              <div class="d-flex justify-content-center flex-direction: row  mx-auto">
                                <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" onclick='initiate();'>Iniciar sesión</button>
                                <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                    
                    </div>
                </div>
                
                
                  
                  
            </div>
        </div>

        <!-- solo desktop -->
        <div class="d-none d-lg-block contenedor" >

        
            <div class="d-flex justify-content-center flex-row align-items-center" >
           
                <img class="img-fluid rounded margen-imagen" 
                src="assets/img/festival4.jpg"
                 alt="login">
                <div>
                    <h1 class="d-flex justify-content-center ">¡Ingrese a su cuenta!</h1>
                    <form>
                        <div class="mb-3">
                        
                            <input type="text" class="form-control" id="information" placeholder="Correo*">
                          </div>
                          <div class="mb-3">
                            <input type="password" class="form-control" id="contraseña" placeholder="Contraseña*">
                          </div>
                          <div class="d-flex justify-content-center flex-direction: row  mx-auto">
                            <button type="button" [routerLink]="['/mainPage']" id="InciarSesion" class="btn btn-primary" onclick='initiate();'>Iniciar sesión</button>
                            <p>¿No tienes una cuenta?<a  [routerLink]="['/signup']" >Registrarse</a></p>
                        </div>
                    </form>
                    
                      
                      
                </div>
  
        </div>
        </div>

        
    </body>
</html>
