<html>  
    <head>
        <title>Compra de entradas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    </head>
    <body>
        <h1 class=" d-flex justify-content-center">COMPRA DE ENTRADAS</h1>
    <form [formGroup]="entradasForm" class="row g-3">
       
        <div class="col-md-4">
          <label for="inputName" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="inputName" formControlName = "inputName">
        </div>
        <div class="col-md-8">
          <label for="inputLastName" class="form-label">Apellidos:</label>
          <input type="text" class="form-control" id="inputLastName" formControlName = "inputLastName">
        </div>
        <div class="col-md-4">
          <label for="inputDNI" class="form-label">DNI:</label>
          <input type="text" class="form-control" id="inputDNI" formControlName = "inputDNI">
        </div>
        <div class="col-md-4">
          <label for="inputContactNumber" class="form-label">Nº Contacto: </label>
          <input type="text" class="form-control" id="inputContactNumber" formControlName = "inputContactNumber">
        </div>
        <div class="col-md-4">
          <label for="inputEmail" class="form-label">Correo:</label>
          <input type="email" class="form-control" id="inputEmail" formControlName = "inputEmail">
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Domicilio: </label>
            <input type="text" class="form-control" id="inputAddress" formControlName = "inputAddress">
          </div>
          <div class="col-md-6">
            <label for="inputCreditCard" class="form-label">Nº de tarjeta:</label>
            <input type="email" class="form-control" id="inputCreditCard" formControlName = "inputCreditCard">
          </div>


        <div class="d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
                <button [disabled]="entradasForm.invalid"type="submit" class="btn btn-primary">Enviar</button>
              </div>
      
              <div class="col-md-6 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Cancelar</button>
              </div>
        </div>
        


      </form>
    </body>
   
</html>
