<<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Registrarse</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <style>    
            body{
                background-image: url("imagenes/COACHELLA-2022.jpeg");
                background-size: cover;
                background-position: center;
            }
            
        </style>
        <script>
            function seleccion(){
                if (document.getElementById('r1').checked){
                    window.location="RegistarseUsuario.html";
                }
                else if (document.getElementById('r2').checked){
                    window.location="RegistrarseEmpresa.html";
                } else {
                    alert("Por favor, marque una casilla"); 
                }
            }
        </script>
    </head>

    <body>
        <div class="d-flex justify-content-center align-items-center" >
            
                <div >
                    <legend>¿Cuál es el perfil de usuario que quiere obtener?*</legend>
                    <div class="d-flex justify-content-evenly">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="usuario" id="usuario">
                            <label class="form-check-label" for="usuario">
                              Usuario
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="empresa" id="empresa">
                            <label class="form-check-label" for="empresa">
                              Empresa
                            </label>
                          </div>
                        
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" [routerLink]="['/signupUsers']" class="  btn btn-primary"  onclick="seleccion()" >Registrarse</button>
                    </div>
                    
                </div>
            
        </div>
    </body>
</html>
