<div class="card">
  <div class="card-body">
    <h1 class="h1">COMPRA DE ENTRADAS
      <div *ngIf="loading" class="spinner-border float-end" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </h1>
    <form [formGroup]="entradasForm" (ngSubmit)="guardarEntrada()">
      <div class="form-group row">
        <div class="form-group">
          <label for="inputNombre" class="form-label mt-4">Nombre: </label>
          <input type="text" class="form-control" id="inputNombre" aria-describedby="nombreHelp" formControlName="inputNombre" required="">
        </div>
        <div class="form-group">
          <label for="inputApellidos" class="form-label mt-4">Apellidos: </label>
          <input type="text" class="form-control" id="inputApellidos" aria-describedby="apellidosHelp" formControlName="inputApellidos" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group">
          <label for="inputDni" class="form-label mt-4">DNI: </label>
          <input type="text" class="form-control" id="inputDni" aria-describedby="dniHelp" formControlName="inputDni" required>
        </div>
        <div class="form-group">
          <label for="inputsNcontacto" class="form-label mt-4">Nº contacto: </label>
          <input type="number" class="form-control" id="inputsNcontacto" aria-describedby="nContactoHelp" formControlName="inputsNcontacto" required>
        </div>
        <div class="form-group">
          <label for="inputCorreo" class="form-label mt-4">Correo: </label>
          <input type="email" class="form-control" id="inputCorreo" aria-describedby="correoHelp" formControlName="inputCorreo" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group">
          <label for="inputDomicilio" class="form-label mt-4">Domicilio: </label>
          <input type="text" class="form-control" id="inputDomicilio" aria-describedby="dniHelp" formControlName="inputDomicilio" required>
        </div>
        <div class="form-group">
          <label for="inputNtarjeta" class="form-label mt-4">Nº tarjeta: </label>
          <input type="number" class="form-control" id="inputNtarjeta" aria-describedby="nContactoHelp" formControlName="inputNtarjeta" required>
        </div>
      </div>
    <!-- <button [disabled]="entradasForm.invalid" type="submit" class="btn btn-success btn-lg" routerLink="/pagoRealizado">Pagar</button> -->
    <button type="submit" class="btn btn-success btn-lg">Enviar</button>
    <button type="submit" class="btn btn-success btn-lg" routerLink="/mainPage">Cancelar</button>
    </form>
  </div>
</div>
